<ion-header>
  <ion-navbar>
    <ion-title>
      EDIT PROFILE
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<!-- <form name="form" (ngSubmit)="f.form.valid && updateChanges(f)" #f="ngForm" novalidate> -->
<form [formGroup]="form" (ngSubmit)="!(username.invalid  || cname.invalid || gname.invalid || address.invalid || mobileno.invalid || email.invalid) && updateChanges()">
    <div class="profile">
        <div class="edit-image">
            <input type="file" class="form-control" id="inputfile" class="inputfile" name="single" ng2FileSelect [uploader]="uploader"  (change)="uploader.queue[0].upload()" />
            <label for="inputfile">
                <figure>
                    <img src="assets/images/profile/edit.png" width="20px" />
                </figure>
            </label>
        </div>
        <div class="profile-img"><img [src]="child?.avatar_path" (error)="errorHandler($event)" width="200px" height="200px"></div>
    </div>

    <br /><br />

    <ion-list>
      <ion-item no-lines>
        <ion-label fixed>Username</ion-label>
        <ion-input formControlName="username" type="text" id="username"></ion-input>
      </ion-item>
      <div *ngIf="username.invalid" class="form-errors" ion-text color="light">
        <div *ngIf="username.errors.required">Username is required</div>
        <div *ngIf="username.errors.minlength && !username.errors.cannotContainSpace && !username.errors.cannotStartWithNumber">Username should be minimum {{ username.errors.minlength.requiredLength }} characters long</div>
        <div *ngIf="username.errors.maxlength && !username.errors.cannotContainSpace && !username.errors.cannotStartWithNumber">Username should be maximum {{ username.errors.maxlength.requiredLength }} characters long</div>
        <div *ngIf="username.errors.cannotContainSpace">Username cannot contain space</div>
        <div *ngIf="username.errors.cannotStartWithNumber && !username.errors.cannotContainSpace">Invalid Username</div>
        <div *ngIf="username.errors.shouldBeUnique">Username already taken</div>

      </div>

      <ion-item no-lines>
        <ion-label fixed>Child name</ion-label>
        <ion-input formControlName="cname" type="text" id="cname"></ion-input>
      </ion-item>
      <div *ngIf="cname.invalid" class="form-errors" ion-text color="light">
        <div *ngIf="cname.errors.required">Child name is required</div>
        <div *ngIf="cname.errors.minlength && !cname.errors.cannotContainNumber">Name should be minimum {{ cname.errors.minlength.requiredLength }} characters</div>
        <div *ngIf="cname.errors.maxlength && !cname.errors.cannotContainNumber">Name should be maximum {{ cname.errors.maxlength.requiredLength }} characters</div>
        <div *ngIf="cname.errors.cannotContainNumber">Name cannot contain number</div>
      </div>

      <ion-item no-lines>
        <ion-label fixed>Guardian name</ion-label>
        <ion-input formControlName="gname" type="text" id="gname"></ion-input>
      </ion-item>
      <div *ngIf="gname.invalid" class="form-errors" ion-text color="light">
        <div *ngIf="gname.errors.required">Guardian name is required</div>
        <div *ngIf="gname.errors.minlength && !gname.errors.cannotContainNumber">Guardian name should be minimum {{ gname.errors.minlength.requiredLength }} characters</div>
        <div *ngIf="gname.errors.maxlength && !gname.errors.cannotContainNumber">Guardian name should be maximum {{ gname.errors.maxlength.requiredLength }} characters</div>
        <div *ngIf="gname.errors.cannotContainNumber">Name cannot contain number</div>
      </div>

      <ion-item no-lines>
        <ion-label fixed>Address</ion-label>
        <ion-input formControlName="address" type="text" id="address"></ion-input>
      </ion-item>
      <div *ngIf="address.invalid" class="form-errors" ion-text color="light">
        <div *ngIf="address.errors.required">Address is required</div>
      </div>

      <ion-item no-lines>
        <ion-label fixed>Mobile no</ion-label>
        <ion-input formControlName="mobileno" type="text" id="mobileno"></ion-input>
      </ion-item>
      <div *ngIf="mobileno.invalid" class="form-errors" ion-text color="light">
        <div *ngIf="mobileno.errors.required">Mobile number is required</div>
        <div *ngIf="mobileno.errors.pattern">Invalid mobile number (03XXXXXXXXX)</div>
      </div>


      <ion-item no-lines>
        <ion-label fixed>Email</ion-label>
        <ion-input formControlName="email" type="email" id="email"></ion-input>
      </ion-item>
      <div *ngIf="email.invalid" class="form-errors" ion-text color="light">
        <div *ngIf="email.errors.required || email.errors.email">Email is required</div>
        <div *ngIf="email.errors.shouldBeUnique">Email already taken</div>
      </div>

    </ion-list>

    <div padding>
      <button
        ion-button
        small
        type="submit"
        [disabled]="
          (user.username == username.value &&
          user.email == email.value &&
          child.cname == cname.value &&
          child.gname == gname.value &&
          child.address == address.value &&
          child.mobileno === mobileno.value) ||
          (username.invalid  || cname.invalid || gname.invalid || address.invalid || mobileno.invalid || email.invalid)
          ">
      SUBMIT</button>

      <button ion-button small type="button" (click)="changePassword()">CHANGE PASSWORD</button>
    </div>
    </form>

</ion-content>
